* {
    font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Open Sans', serif;
    font-size: 27px;
    font-weight: bold;
}

body{
    margin: 0;
    background-color: rgb(19, 18, 18);
    box-sizing: border-box;
    padding: 0;
    -webkit-appearance: none;
    --accent-color: rgb(23, 49, 19);
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}


.inner-box {
    max-width: 375px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 25px 15px;
    border-radius: 20px;
    width: 430px;
    outline: rgb(44, 46, 45) 5px solid;
}

::placeholder {
    color: black;
}

input {
    transition: all ease-in 120ms;
    display: inline-block;
    color: rgb(255, 255, 255);
    font-size: 1em;
    text-align: center;
    cursor: pointer;
    height: 100%;
    width: 100%;
    background-color: rgb(47, 51, 50);
    border: none;
    outline: white;
    border-radius: 17px;
}

.inner-box .row {
    width: 100%;
    display: flex;
    flex-grow: 1;
}

/*@media (max-width: 400px) {*/
/*    .inner-box .btn-wrapper {*/
/*        font-size: 0.7em;*/
/*    }*/
/*}*/

input:disabled {
    transition: none !important;
    opacity: 40% !important;
    cursor: not-allowed !important;
}

.btn-wrapper {
    display: inline-block;
    flex-grow: 1;
    flex-basis: 25%;
    padding: 1.8%;
    aspect-ratio: 1/1;
}

input[type="text"] {
    background-color: rgb(172, 180, 177);
    font-size: 37px;
    text-align: end;
    color: black;
    cursor: default;
    padding: 16px 15px 16px 3px;
    margin-bottom: 18px;
}

input[type="button"] {
    cursor: pointer;
    opacity: 100%;
}

input[type="button"]:hover {
    opacity: 85%;
}

.accent_button {
    background-color: var(--accent-color);
}

#clear_button {
    background-color: #621515;
}

#memory_read_button {
    background-color: #544210;
}

*.unselectable {
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}